<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kgc.wechatorder.mall.dao.DingDanDeliveryMapper">
    <sql id="table_name">
        dingdan_delivery
    </sql>
        <select id="getDingDanDeliveryById" parameterType="int" resultType="com.kgc.wechatorder.mall.pojo.DingDanDelivery">
            select * from <include refid="table_name"/>
                where id=#{id}
        </select>
</mapper>
