<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kgc.wechatorder.mall.dao.DingDanMapper">
    <sql id="table_name">
        dingdan
    </sql>
    <!--根据id查询订单信息-->
    <select id="getDingDanById" parameterType="int" resultType="com.kgc.wechatorder.mall.pojo.DingDan">
        select * from <include refid="table_name"/>
            where orderid=#{orderid}
    </select>
</mapper>