<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.wechatorder.mall.dao.DingDanDetailsMapper">
    <sql id="table_name">
        dingdan_details
    </sql>
    <resultMap id="list" type="com.kgc.wechatorder.mall.pojo.DingDanDetails">

        <result property="orderNumber" column="orderNumber"/>
        <result property="totalPrices" column="totalPrices"/>
        <result property="orderStatus" column="orderStatus"/>
        <result property="beizhu" column="beizhu"/>
        <result property="deliverTime" column="deliverTime"/>
        <result property="receiptTime" column="receiptTime"/>

    </resultMap>
        <!--订单和优惠卷今行连表查询-->
        <select id="getDingDanDetailsById" parameterType="int" resultMap="list">
            select d.*,y.*
            from dingdan d,coupon y
            where d.cpId=y.cpId
        </select>
</mapper>