<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--映射文件的命名空间，为mapper.xml所有的目录完全限定名加文件名-->
<mapper namespace="com.kgc.wechatorder.mall.dao.GoodsCategoryMapper">
    <select id="findAllGoodsCategory" resultType="com.kgc.wechatorder.mall.pojo.GoodsCategory">
        select categoryName from goods_category
    </select>
</mapper>