<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>后台管理</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
		<script th:src="@{/js/jquery-3.0.0.js}"></script>
		<script th:src="@{/js/goods2/goods_list.js}"></script>
	</head>

	<body>
		<div class="topbar-wrap white">
			<div class="topbar-inner clearfix">
				<div class="topbar-logo-wrap clearfix">
					<h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">后台管理</a></h1>
					<ul class="navbar-list clearfix">
						<li>
							<a class="on" href="design.html">首页</a>
						</li>
						<li>
							<a target="_blank">风味小店</a>
						</li>
					</ul>
				</div>
				<div class="top-info-wrap">
					<ul class="top-info-list clearfix">
						<li><a href="#">管理员</a></li>
                <li><a href="#">修改密码</a></li>
                <li><a href="#">退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container clearfix">
			<div class="sidebar-wrap">
				<div class="sidebar-title">
					<h1>菜单</h1>
				</div>
				<div class="sidebar-content">

					 <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="design.html"><i class="icon-font">&#xe008;</i>商品管理</a></li>
                        <li><a href="classify.html"><i class="icon-font">&#xe006;</i>分类管理</a></li>
                        <li><a href="order.html"><i class="icon-font">&#xe005;</i>订单管理</a></li>
                        <li><a href="advertising.html"><i class="icon-font">&#xe033;</i>广告管理</a></li>
                        <li><a href="#"><i class="icon-font">&#xe052;</i>活动管理</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>商城管理</a>
                    <ul class="sub-menu">
                        <li><a href="shop.html"><i class="icon-font">&#xe017;</i>店铺管理</a></li>
                        <li><a href="wechat.html"><i class="icon-font">&#xe046;</i>微信设置</a></li>
                        <li><a href="#"><i class="icon-font">&#xe037;</i>营业额统计</a></li>
                    </ul>
                </li>
            </ul>
				</div>
			</div>
			<!--/sidebar-->
			<div class="main-wrap">

				<div class="crumb-wrap">
					<div class="crumb-list"><i class="icon-font"></i>
						<a href="design.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">商品管理</span></div>
				</div>
				<div class="search-wrap">
					<div class="search-content">
						<form th:action="@{/goods/goodsList}" method="post">
							<table class="search-tab">
								<tr>
									<th width="120">选择状态:</th>
									<td>
										<select name="search-sort" id="search-sort" th:name="status">
											<option value="">全部</option>
											<option th:each="status:${session.statusList}" th:value="${status.valueId}" th:text="${status.valueName}"></option>
										</select>
									</td>
									<th width="70">关键字:</th>
									<td><input class="common-text" placeholder="关键字" th:name="goodsName" value="" id="" type="text"></td>
									<td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div class="result-wrap">
					<form name="myform" id="myform" method="post">
						<div class="result-title">
							<div class="result-list">
								<a th:href="@{/goods/goodsAdd}"><i class="icon-font"></i>新增菜品</a>
								<a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
								<a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
							</div>
						</div>
						<div class="result-content">
							<table class="result-tab" width="100%">
								<tr>
									<th class="tc" width="5%">选择</th>
									<th>ID</th>
									<th>名称</th>
									<th>展示图</th>
									<th>销量</th>
									<th>库存</th>
									<th>单价</th>
									<th>修改时间</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
								<tr th:each="list:${session.list}">
									<td><input type="checkbox"></td>
									<td th:text="${list.goodsId}"></td>
									<td th:text="${list.goodsName}"></td>

									<td> <img th:src="@{/upload/imgs/{picUrl}(picUrl=${list.picUrl})}"></td>
									<!--<td> <img th:src="@{/upload/imgs/1569228513587_Personal.jpg}"></td>-->
									<td th:text="${list.xiaoLiang}"></td>
									<td th:text="${list.remains}"></td>
									<td th:text="${list.price}"></td>
									<td th:text="${list.updateTime}"></td>
									<td th:text="${list.createTime}"></td>
									<td><a th:href="@{/goods/modifyGoods/{goodsId}(goodsId=${list.goodsId})}">修改</a>
										<a th:href="@{/goods/delGoods/{goodsId}(goodsId=${list.goodsId})}">删除</a>
									</td>
								</tr>
							</table>
							<div class="list-page"> 2 条 1/1 页</div>
						</div>
					</form>
				</div>
			</div>
			<!--/main-->
		</div>
	</body>

</html>