<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>『风味小店』后台管理</title>
    <link href="css/admin_login.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="admin_login_wrap">
    <h1>后台管理</h1>
    <div class="adming_login_border">
        <div class="admin_input">
            <form action="adminLogin" method="post">
                <ul class="admin_items">
                    <li>
                        <label for="user">用户名：</label>
                        <input type="text" name="adminName" placeholder="请输入用户名" id="user" size="40" class="admin_input_style" required="required" />
                    </li>
                    <li>
                        <label for="pwd">密码：</label>
                        <input type="password" name="password" placeholder="请输入密码" id="pwd" size="40" class="admin_input_style" required="required" />
                    </li>
                    <li>
                        <input type="submit" tabindex="3" value="提交" class="btn btn-primary" />
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <p class="admin_copyright"> &copy; 2019 shop design <a  target="_blank" style="font-size: 12px;">风味小店</a></p>
</div>
<script type="text/javascript" src="js/jquery-3.0.0.js"></script>
<script type="text/javascript" src="js/sys/sys.js"></script>
</body>
</html>