<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--映射文件的命名空间，为mapper.xml所有的目录完全限定名加文件名-->
<mapper namespace="com.kgc.wechatorder.wechat.dao.UserTokenMapper">
    <insert id="save" parameterType="UserToken">
    insert into user_token(userId, token, expire_time, update_time)
    values (#{userId}, #{token}, #{expireTime}, #{updateTime})
    </insert>
    <update id="update">
        update user_token
        <trim prefix="set" suffixOverrides="," suffix="where userId=#{userId}">
            <if test="token!=null || token!=''">token=#{token},</if>
            <if test="expireTime!=null || expireTime!=''">expire_time=#{expireTime},</if>
            <if test="updateTime!=null || updateTime!=''">update_time=#{updateTime},</if>
        </trim>
    </update>

    <select id="queryByUserId" resultType="UserToken">
    select * from user_token where userId=#{userId}
    </select>
    <select id="queryByToken" resultType="UserToken">
    select * from user_token where token=#{token}
    </select>
</mapper>
